{% extends 'base.html.twig' %}

{% block title %}Edit ReservationFee{% endblock %}

{% block body %}
    <h1>Edit ReservationFee</h1>

    {{ include('reservation_fee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_fee_index') }}">back to list</a>

    <!-- {{ include('reservation_fee/_delete_form.html.twig') }} -->
{% endblock %}
