{% extends 'base.html.twig' %}

{% block title %}New ClearanceFee{% endblock %}

{% block body %}
    <h1>Create new ClearanceFee</h1>

    {{ include('clearance_fee/_form.html.twig') }}

    <a href="{{ path('clearance_fee_index') }}">back to list</a>
{% endblock %}
